@{
    ViewBag.Title = "Фотогалерея";
}

<script src="~/Scripts/AngularControllers/PhotoGalleryController.js"></script>
<link href="~/Content/css/lightbox.css" rel="stylesheet" />
<script src="~/Scripts/lightbox.js"></script>

<div class="photogallery-wrap" ng-app="photogalleryapp" ng-controller="PhotoGallery">
    <div class="h1">
        @ViewBag.Title
        <div class="darkArea">
            <div class="post-entry">
                <div class="photogallery-wrapper">
                    <div class="photogallery-item" ng-repeat="item in PhotoGallery" id="links">
                        <a href="{{item.photoPath}}" class="fancybox" rel="group" data-lightbox="gallery" data-title="{{item.name}}" style="background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'resizeDuration': 0,
        'wrapAround': true,
        'disableScrolling': true,
    });
</script>
