@{
    ViewBag.Title = "Фотогалерея";
}

<script src="~/Scripts/AngularControllers/PhotoGalleryController.js"></script>

<div class="photogallery-wrap" ng-app="photogalleryapp" ng-controller="PhotoGallery">
    <div class="post-entry">
        <div class="photogallery-wrapper">
            <div class="tiled-gallery-item" ng-repeat="item in PhotoGallery">
                <a href="javascript:void(0)" style="background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></a>
            </div>
        </div>
    </div>
</div>

