@{
    ViewBag.Title = "Фотогалерея";
}


<link href="~/Content/css/photo-gallery-style.css" rel="stylesheet" />
<link href="~/Content/css/lightbox.css" rel="stylesheet" />

<script src="~/Scripts/AngularControllers/PhotoGalleryController.js"></script>
<script src="~/Scripts/lightbox.js" > </script>



<div ng-app="photogalleryapp" ng-controller="PhotoGallery">

<div id="hash-panel" class="row">
    <div id="hash" class="col-xs-1">
        #
    </div>
    <div id="hash-input" class="col-xs-11">
        <input type="text" ng-model="Paging.Tag" ng-keyup="StartTagProcess()" placeholder="Поиск..."/>
    </div>
</div>

<div id="tag-ctn">
    <div class="tag" ng-repeat="tag in Hashtags" ng-click="SelectTag(this)">
        #{{tag.Tag}}
    </div>
    <div style="clear:left"></div>
</div>


<div class="row">
    <div class="col-md-4 spec-col" ng-repeat="photo in PhotoGallery">
        <div class="photo-ctn">
            <a class="fancybox" href="{{photo.photoPath}}" rel="group" data-lightbox="gallery" data-title="{{item.name}}">
                <img ng-src="{{photo.photoPath}}">
            </a>
            <div class="photo-info">
                {{photo.name}}
            </div>
        </div>
    </div>
</div>
<div id="more-photo" class="row" ng-click="MorePhoto()" ng-show="Paging.ShowMore">
    Загрузить еще...
</div>
</div>
