@{
    ViewBag.Title = "Фотогалерея";
}


<link href="~/Content/css/photo-gallery-style.css" rel="stylesheet" />
<script src="~/Scripts/AngularControllers/PhotoGalleryController.js"></script>



<div ng-app="photogalleryapp" ng-controller="PhotoGallery">

<div id="hash-panel" class="row">
    <div id="hash" class="col-xs-1">
        #
    </div>
    <div id="hash-input" class="col-xs-11">
        <input type="text" ng-model="Paging.Tag" ng-keyup="StartTagProcess()" placeholder="Поиск..."/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 spec-col" ng-repeat="photo in PhotoGallery">
        <div class="photo-ctn">
            <img ng-src="{{photo.photoPath}}" />
        </div>
        <div class="photo-name">
            <div>
                {{photo.name}}
            </div>
        </div>
    </div>
</div>
</div>
