
@{
    Layout = null;
}

<h1>Добавление мероприятия</h1>
<h2></h2>

<div class="photo-ctn">
    <img ng-src="{{Calendar.PhotoPath}}" />
</div>

<form name="CalendarForm">

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text"><span class="mandatory-field">*</span>Название мероприятия</div>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="Calendar.Name" placeholder="Пенная вечеринка" required/>
    </div>
</div>

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text"><span class="mandatory-field">*</span>Дата и время мероприятия</div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6 admin-row ">
                <input type="text" class="form-control" ng-model="Calendar.Date" placeholder="Дата мероприятия" jqdatepicker required/>
            </div>
            <div class="col-sm-6 admin-row">
                <input type="text" class="form-control" ng-model="Calendar.Time" placeholder="Время мероприятия" onkeyup="restrictTime(this,event)" maxlength="5" required/>
            </div>
        </div>
    </div>
</div>

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text">Открытое мероприятие</div>
    </div>
    <div class="col-md-9">
        <input type="checkbox" class="form-control" ng-model="Calendar.IsOpen"/>
    </div>
</div>

<div class="row admin-row">
    <div class="col-md-3">
       <div class="sys-text">Фотография мероприятия</div>
    </div>
    <div class="col-md-9">
        <input type="file" name="calendarPhoto" class="form-control" ng-model="Calendar.Photo"/>
    </div>
</div>

</form>

<div class="error-ctn">
    {{Error}}
</div>

<div class="help-ctn">
    Поля отмеченные символом - <span class="mandatory-field">*</span> 
    <br/>
    oбязательны для заполнения
    <br/>
    Для изменения фоторафии мероприятия, выберите новую фотографию и нажмите на "Сохранить изменения"
</div>

<div class="row admin-btn-row">
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="SaveChanges()">Сохранить изменения</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Back()">Вернуться назад</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Delete()">Удалить раздел</button>
    </div>
</div>