
<button class="btn btn-default" ng-click="AddNewCalendarEvent()">Добавить новое событие</button>
<br/>
<br/>
<table class="table">
    <tr>
        <th>Изображение</th>
        <th>Заголовок</th>
        <th>Дата события</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="item in DataModel.Calendar">
        <td><img ng-if="item.PhotoPath!=null" ng-src="{{item.PhotoPath}}" /></td>
        <td>{{item.name}}</td>
        <td>{{item.DateEvent | CorrectDate}}</td>
        <td id="{{item.idRecord}}.Edit" onclick="document.location = '#EditCalendarEvent/' + id.split('.')[0]">
            <img src="~/Areas/Admin/Content/edit.png" />
        </td>
        <td id="{{item.idRecord}}.Delete" ng-click="DeleteCalendarEvent(this)">
            <img src="~/Areas/Admin/Content/delete.png" />
        </td>
    </tr>
</table>