@{
    ViewBag.Title = "Редактирование мероприятия";
    Layout = "";
}
<h2>{{Header}}</h2>
<div class="additwrap">
    <form name="eventsForm">
        <div class="addit-wrap">
            <label class="addit-label" for="eventsName">Название мероприятия:</label>
            <input type="text" class="form-control" ng-model="itemForEdit.name" name="eventsName" placeholder="Название" value="{{itemForEdit.name}}" required>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="eventsDesc">Описание мероприятия:</label>
            <textarea cols="5" class="form-control" ng-model="itemForEdit.Description" name="eventsDesc" placeholder="Описание" value="{{itemForEdit.Description}}"></textarea>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="eventsPhoto">Фотография мероприятия:</label>
            <img ng-src="{{itemForEdit.PhotoPath}}">
            <br>
            <br>
            <div class="addit-wrap" ng-show="ChangePhotoShow">
                <input type="file" class="form-control" ng-model="itemForEdit.Photo" name="eventsPhoto" required>
            </div>
            <div class="addit-wrap">
                <input type="button" class="btn btn-default" value="Изменить изображение мероприятия" ng-click="changePhoto()">
            </div>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="eventsDate">Дата мероприятия:</label>
            <input type="text" name="eventsDate" class="form-control" ng-model="itemForEdit.DateEvent" value="{{itemForEdit.DateEvent}}" jqdatepicker placeholder="11/02/2015" required>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="eventsTime">Время мероприятия:</label>
            <input type="text" name="eventsTime" class="form-control" ng-model="itemForEdit.TimeEvent" maxlength="5" value="{{itemForEdit.TimeEvent}}" onkeyup="restrictTime(this, event);" placeholder="15:49" required>
        </div>
        <div class="error-wrap">{{error}}</div>
        <div class="tools-wrapp">
            <ul class="tools_add">
                <li class="tools-item">
                    <button class="btn btn-default" ng-click="updateEvent()">Сохранить</button>
                </li>
                <li class="tools-item"><button class="btn btn-default" ng-click="BackToCalendarList()">Назад</button></li>
            </ul>
        </div>
    </form>
</div>
