@{
    Layout = "";
}
<h2>{{Header}}</h2>
<div class="tools-wrapp">
    <ul class="tools">
        <li class="tools-item"><button class="btn btn-default" ng-click="addCalendar()">Добавить мероприятие</button></li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="editCalendar()" ng-disabled="selectForEdit === ''">Редактировать мероприятие</button>
        </li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="removeCalendar(selectForEdit)" ng-disabled="selectForEdit === ''">Удалить мероприятие</button>
        </li>
        <li class="tools-item"></li>
        <li class="tools-item"><button class="btn btn-default" ng-disabled="selectForEdit === ''" ng-click="editCalendarPhoto()">Редактировать фотографии мероприятия</button></li>
        <li class="tools-item"></li>
    </ul>
</div>
<div class="admintable">
    <table border="1" width="100%">
        <thead>
            <tr>
                <th width="30px">№</th>
                <th>Название мероприятия</th>
                <th>Дата мероприятия</th>
                <th>Время мероприятия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in Calendar" ng-click="HighlightItem(item)" ng-class="{activeEdit: isActive(item)}">
                <td align="center">{{$index + 1}}</td>
                <td align="center">{{item.name}}</td>
                <td align="center">{{item.DateEvent | filterDate}}</td>
                <td align="center">{{item.TimeEvent | filterTime}}</td>
            </tr>
        </tbody>
    </table>
</div>