
<table class="table">
    <tr>
        <th>Изображение события</th>
        <td>
            <img ng-if="CurCalendarEvent.PhotoPath != null" ng-src="{{CurCalendarEvent.PhotoPath}}" />
            <input type="file" onchange="angular.element(this).scope().AddFile(this.files)" />
        </td>
    </tr>
    <tr>
        <th>Название события</th>
        <td><input type="text" ng-model="CurCalendarEvent.name" class="form-control"/></td>
    </tr>
    <tr>
        <th>Дата события</th>
        <td><input type="text" ng-model="CurCalendarEvent.DateEvent" class="form-control" /></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <button class="btn btn-default" ng-click="SaveChanges()">Сохранить</button>
        </td>
        <td>
            <button class="btn btn-default" onclick="document.location = '#/'">Назад</button>
        </td>
        <td>
            <button class="btn btn-default" ng-click="DeleteCalendarEvent()">Удалить</button>
        </td>
    </tr>
</table>

