
<table class="table">
    <tr>
        <th>
            Изображение события
        </th>
        <td>
            <input type="file"/>
        </td>
    </tr>
    <tr>
        <th>
            Название события
        </th>
        <td>
            <input type="text" class="form-control"/>
        </td>
    </tr>
    <tr>
        <th>
            Дата события
        </th>
        <td>
            <input type="text" class="form-control"/>
        </td>
    </tr>
</table>

