@{
    ViewBag.Title = "Календарь событий";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Areas/Admin/Script/Calendar/CalendarController.js"></script>
<div ng-app="CalendarApp">
    <div ng-view></div>
</div>

