@{
    string path = HttpContext.Current.Request.Url.AbsolutePath.Replace("/", "").Trim();
}

<script src="~/Scripts/AngularControllers/InstaGalleryController.js"></script>

<!--<div class="iw-link_wrap">
    <h3 class="iw-link_title">#PARTYCAFE ON INSTAGRAM</h3>
</div> -->

<div  class="iw-list row" ng-app="instagalleryapp" ng-controller="InstaGallery">
    <div ng-repeat="item in Gallery" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 inst-item">
        <a href="https://www.instagram.com/partycaferu/" target="_blank" title="{{item.caption.text}}">
            <img ng-src="{{item.images.standard_resolution.url}}">
        </a>
    </div>
</div>


