<div class="h-wrap">
    <div id="navigation-wrapper">
        <ul id="menu-top-menu" class="menu">
            <li class="menu-item">
                <a href="/" class="mi-link-home">
                    <span class="mi-link-title">Главная</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/FoodMenu" class="mi-link-foodmenu">
                    <span class="mi-link-title">Меню</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/EventCalendar" class="mi-link-event">
                    <span class="mi-link-title">События</span>
                </a>
            </li>
            <li>
                <a href="/" class="logo"><img src="~/Content/images/logo.png" width="110" height="110"></a>
            </li>
            <li class="menu-item">
                <a href="/PhotoGallery" class="mi-link-gallery">
                    <span class="mi-link-title">Фотогалерея</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Games" class="mi-link-game">
                    <span class="mi-link-title">Игры</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Blog" class="mi-link-blog">
                    <span class="mi-link-title">Блог</span>
                </a>
            </li>
        </ul>
    </div>
</div>