<div class="h-wrap">
    <div id="navigation-wrapper">
        <!--<div style="text-align:center;"><a href="/" class="logo"><img src="/Content/images/logo.png" width="110" height="110"></a></div>-->

        <ul id="menu-top-menu" class="menu">
            <li class="menu-item">
                <a href="/" class="mi-link-home">Главная</a>
            </li>
            <li class="menu-item">
                <a href="/FoodMenu" class="mi-link-foodmenu">Меню</a>
            </li>
            <li class="menu-item">
                <a href="/EventCalendar" class="mi-link-event">События</a>
            </li>
            <li class="menu-logo">
                <div style="text-align:center;"><a href="/" class="logo"><img src="/Content/images/logo.png" width="110" height="110"></a></div>
            </li>
            <li class="menu-item">
                <a href="/PhotoGallery" class="mi-link-gallery">Фотогалерея</a>
            </li>
            <li class="menu-item">
                <a href="/Games" class="mi-link-game">Игры</a>
            </li>
            <li class="menu-item">
                <a href="/Blog" class="mi-link-blog">Блог</a>
            </li>
        </ul>

    </div>
</div>