<div class="h-wrap">
    <div id="navigation-wrapper">
        <div class="mobile-wrap">
            <div style="text-align:center; margin: 5px 0 0 2px; display: inline-block;"><a href="/" class="logo"><img src="/Content/images/logo.png" width="80" height="80"></a></div>
            <div style="    position: absolute;
    height: auto;
    width: 46px;
    top: 20px;
    right: 10px;">
                <a href="javascript:void(0);" class="slicknav_btn slicknav_collapsed" style="display: block;
    width: 100%;
    height: 100%;
    outline: 1px solid #5F5F5F; padding: 8px 10px;">
                    <script>
                        $('.slicknav_btn').on('click', function () {
                            var mobile = $('.mobile-menu');
                            if (mobile.hasClass('show'))
                            {
                                mobile.removeClass('show');
                            } else {
                                mobile.addClass('show');
                            }
                        })
                    </script>
                    <i class="fa fa-bars slicknav_icon-bar" style="font-size: 30px;"></i>
                    <span class="slicknav_menutxt"></span>
                </a>
            </div>
            <ul id="menu-top-menu" class="mobile-menu">
                <li>
                    <a href="/" class="mi-link-home">Главная</a>
                </li>
                <li>
                    <a href="/FoodMenu" class="mi-link-foodmenu">Меню</a>
                </li>
                <li>
                    <a href="/EventCalendar" class="mi-link-event">События</a>
                </li>
                <li>
                    <a href="/PhotoGallery" class="mi-link-gallery">Фотогалерея</a>
                </li>
                <li>
                    <a href="/Games" class="mi-link-game">Игры</a>
                </li>
                <li>
                    <a href="/Blog" class="mi-link-blog">Блог</a>
                </li>
            </ul>
        </div>

        <ul id="menu-top-menu" class="menu">
            <li class="menu-item">
                <a href="/" class="mi-link-home">Главная</a>
            </li>
            <li class="menu-item">
                <a href="/FoodMenu" class="mi-link-foodmenu">Меню</a>
            </li>
            <li class="menu-item">
                <a href="/EventCalendar" class="mi-link-event">События</a>
            </li>
            <li class="menu-logo">
                <div style="text-align:center;"><a href="/" class="logo"><img src="/Content/images/logo.png" width="80" height="80"></a></div>
            </li>
            <li class="menu-item">
                <a href="/PhotoGallery" class="mi-link-gallery">Фотогалерея</a>
            </li>
            <li class="menu-item">
                <a href="/Games" class="mi-link-game">Игры</a>
            </li>
            <li class="menu-item">
                <a href="/Blog" class="mi-link-blog">Блог</a>
            </li>
        </ul>

    </div>
</div>