@{
    ViewBag.Title = "Меню";
}

<script src="~/Scripts/AngularControllers/FoodMenuController.js"></script>
<link href="~/Content/css/food-menu-style.css" rel="stylesheet"/>

<div ng-app="foodmenuapp" ng-controller="FoodMenuCt">
    <h2>Меню</h2>
    <div class="row">
        <nav id="menu-nav" class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
            </div>
            <div id="menu-navbar" class="collapse navbar-collapse" >
                <ul class="nav navbar-nav">
                    <li class="no-light" ng-repeat="item in Menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{item.name}} 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="sub in item.subGroups" ng-click="GetFoodItems(this)">
                                <a>{{sub.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <div id="food-ctn" class="row">
            <div class="col-md-4" ng-repeat="food in CurrentItems">
                <div class="row food-row">
                    <div class="col-lg-6 spec-col">
                        <div class="food-item">
                            <div class="food-photo">
                                <img ng-src="{{food.photoPath}}"/>
                            </div>
                            <div class="food-header">
                                {{food.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 spec-col">
                        <div class="food-desc">
                        <div class="desc">
                            {{food.description}}
                        </div>
                        <div class="weight">
                            <span>Вес:</span>
                            {{food.Weight}}
                            <span>гр.</span>
                        </div>
                        <div class="price">
                            <span>Цена:</span>
                            {{food.price | CorrectPrice}}
                            <i class='fa fa-rub'></i>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>