
@{
    ViewBag.Title = "Редактирование учетной записи Администратора";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Script/UsersController.js"></script>
<div ng-app="UsersApp">
    <div ng-view></div>
</div>