
@{
    ViewBag.Title = "Учетные записи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/Users/UsersController.js" ></script>
<script src="~/Areas/Admin/Script/Users/UsersListController.js" ></script>
<script src="~/Areas/Admin/Script/Users/UsersNewController.js" ></script>
<script src="~/Areas/Admin/Script/Users/UsersEditController.js" ></script>

<div ng-app="UsersApp" ng-controller="UsersController">
    <div ng-view></div>
</div>