@{
    Layout = null;
}

<h1>Редактирование учетной записи</h1>

<form name="UserForm">

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text"><span class="mandatory-field">*</span>Логин</div>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="User.Name" placeholder="SuperAdmin" required/>
    </div>
</div>

<button class="btn btn-default" data-toggle="collapse" data-target="#change-pass">Изменить пароль</button>

<div id="change-pass" class="collapse">
    <div class="row admin-row">
        <div class="col-md-3">
            <div class="sys-text"><span class="mandatory-field">*</span>Пароль</div>
        </div>
        <div class="col-md-9">
            <input type="password" class="form-control" ng-model="User.Pass" placeholder="******"/>
        </div>
    </div>

    <div class="row admin-row">
        <div class="col-md-3">
            <div class="sys-text"><span class="mandatory-field">*</span>Повторите пароль</div>
        </div>
        <div class="col-md-9">
            <input type="password" class="form-control" ng-model="User.RepeatPass" placeholder="******"/>
        </div>
    </div>

    <button class="btn btn-default">Изменить пароль</button>

</div>

</form>

<div class="error-ctn">
    {{Error}}
</div>

<div class="help-ctn">
    Поля отмеченные символом - <span class="mandatory-field">*</span> 
    <br/>
    oбязательны для заполнения
</div>

<div class="row admin-btn-row">
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="SaveChanges()">Сохранить изменения</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Back()">Вернуться назад</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Delete()">Удалить учетную запись</button>
    </div>
</div>