@{
    Layout = "";
}
<h2>{{Header}}</h2>
<div class="useraddwrap">
    <form name="usersForm" novalidate>
        <div class="useradd-wrap">
            <label class="useradd-label" for="userName">Логин:<span class="star">*</span></label>
            <input type="text" class="form-control" ng-model="itemForEdit.UserName" name="userName" placeholder="Логин" required>
            <span class="error-wrap" ng-show="usersForm.userName.$invalid && !usersForm.userName.$pristine">
                <span ng-show="usersForm.userName.$error.required">Данное поле является обязательным!</span>
            </span>
        </div>
        <div class="useradd-wrap">
            <label class="useradd-label" for="userDesc">Описание:</label>
            <input type="text" class="form-control" ng-model="itemForEdit.Description" name="userDesc" value="{{itemForEdit.Description}}" placeholder="Обычный пользователь">
        </div>
        <div class="useradd-wrap">
            <label class="useradd-label">Пароль:</label>
            <button class="btn btn-default" ng-click="ShowPasswordForm()">Изменить пароль</button>
            <div ng-show="ChangePassword">
                <label class="useradd-label" for="userOldPass">Старый пароль:</label>
                <input type="text" class="form-control" ng-model="oldPass" name="userOldPass" placeholder="Старый пароль">
                <label class="useradd-label" for="userPass">Новый пароль:</label>
                <input type="text" class="form-control" ng-model="itemForEdit.Password" name="userPass" placeholder="Пароль">
                <label class="useradd-label" for="userPassConfrim">Подтвердите пароль:</label>
                <input type="text" class="form-control" ng-model="itemForEdit.PasswordChange" name="userPassConfrim" placeholder="Пароль">
                <div ng-class="Pass.Class" ng-show="Pass.Show">
                    <span>{{Pass.Msg}}</span>
                </div>
                <button style="margin-top: 20px;" class="btn btn-default" ng-click="changePassword()">Применить</button>
            </div>
        </div>
        <div class="useradd-wrap">
            <label class="useradd-label">Роли пользователя:<span class="star">*</span></label>
            <table>
                <tbody>
                    <tr ng-repeat="item in UserRoles.avaibleOptions">
                        <td><b>{{item.name}}</b></td>
                        <td width="40px" align="center"><input type="checkbox" class="useradd-list-cb" id="{{item.name}}" value="{{item.name}}" ng-checked="Settings.selectedRole.indexOf(item.name) > -1" ng-click="toggleSelect(item.name)"></td>
                    </tr>
                </tbody>
            </table>
            <div ng-class="Rol.Class" ng-show="Rol.Show">
                <span>{{Rol.Msg}}</span>
            </div>
        </div>
        <div class="tools-wrapp">
            <ul class="tools_add">
                <li class="tools-item">
                    <button class="btn btn-default" ng-class="{disabled_btn: usersForm.$invalid==true}" ng-click="updateUser()">Сохранить</button>
                </li>
                <li class="tools-item"><button class="btn btn-default" ng-click="BackToUserList()">Назад</button></li>
            </ul>
        </div>
    </form>
</div>