
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/404-style.css" rel="stylesheet" />

<div class="er-pg-container">
    <div class="er-pg-header">
        <span>Такой страницы не существует!</span>
        <br/>
        <span>(Ошибка 404)</span> 
    </div>
    <div class="er-pg-desc">
        Возможно вы ввели неправильный адрес страницы.
    </div>
</div>

