@{
    Layout = "";
}

<div class="about-entry">
    <h2 class="about-title">{{description}}</h2>
    <div class="about-wrapper_more">
        <div class="about-item" ng-repeat="item in aboutusMore.photos">
            <a href="{{item.photoPath}}" class="fancybox" rel="group" data-lightbox="gallery" data-title="{{item.name}}" style="background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;">
                <span class="about-popup_more">{{item.name}}</span>
            </a>
        </div>
    </div>
</div>