@{
    Layout = "";
}

<div id="panoram-ctn" class="row">
    <img src="~/Content/example/about-us.jpg"/>
</div>
<div id="about-header" class="row">
    Party cafe
</div>
<div id="about-us" class="row">
    Текст Текст Текст очень много текста описание списки блаблабла короче куча всего, будем брать из базы ;)
</div>


<!--

<div class="about-entry">
    <div class="about-wrapper">
        <div class="about-item" ng-repeat="item in AboutUs">
            <a href="javascript:void(0)" style="background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;" ng-click="More($index)"></a>
            <span class="about-popup">{{item.name}}</span>
        </div>
    </div>
</div>

-->