@{
    ViewBag.Title = "О кафе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/lightbox.css" rel="stylesheet" />
<link href="~/Content/css/about-us-style.css" rel="stylesheet"/>

<script src="~/Scripts/lightbox.js"></script>
<script src="~/Scripts/AngularControllers/AboutUsController.js"></script>

<div ng-app="AboutUsApp" ng-controller="AboutUsController">
    <div ng-view></div>
</div>

