@{
    ViewBag.Title = "О кафе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AngularControllers/AboutUsController.js"></script>
<link href="~/Content/css/lightbox.css" rel="stylesheet" />
<script src="~/Scripts/lightbox.js"></script>

<div class="about-wrap" ng-app="aboutusapp">
    <div class="h1 ng-scope ng-binding">
        @ViewBag.Title
        <div class="darkArea">
            <div ng-view></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

