@{
    ViewBag.Title = "О кафе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/about-us-style.css" rel="stylesheet"/>


<div id="panoram-ctn" class="row">
    <img src="~/Content/example/about-us.jpg"/>
</div>
<div id="about-header" class="row">
    Party cafe
</div>
<div id="about-us" class="row">
    Текст Текст Текст очень много текста описание списки блаблабла короче куча всего, будем брать из базы ;)
</div>

