@{
    Layout = null;
}

<div id="srv-dtl-img" class="row">
    <img ng-src="{{Service.Photo}}" />
</div>

<div id="src-content">
    <div id="srv-dtl-hd" class="row">   
        {{Service.Name}}
    </div>
    <div id="srv-dtl-desc" class="row">
        {{Service.Description}}
    </div>
</div>

<!-- Photo part -->
<div id="srv-photos" class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="photo in Service.Photos">
        <a class="fancybox" href="{{photo.photoPath}}" rel="group" data-lightbox="gallery" data-title="{{item.name}}">
                <img ng-src="{{photo.photoPath}}">
        </a>
    </div>
</div>
