@{
    ViewBag.Title = "PartyCafe";
}

<link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/css/owl.theme.css" rel="stylesheet" />
<link href="~/Content/css/owl.transitions.css" rel="stylesheet" />
<link href="~/Content/css/animate.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/home-index-style.css" rel="stylesheet"/>
<link href="~/Content/css/insta-gallery-style.css" rel="stylesheet"/>



<script src="~/Scripts/parts/animateSvg.js" ></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/parts/home-index.js"> </script>
<script src="~/Scripts/jquery/jquery-scrollto.js" ></script>


    <div id="logo-lg">
        <img src="~/Content/images/pc-logo-lg.png"/>
    </div>

    <div class="owl-container animated">
        <div class="owl-carousel owl-theme">
            <div> <h1>Представляет новый формат закрытых вечеринок</h1> </div>
            <div> <h1>Уникальная возможность побывать в числе избранных</h1> </div>
            <div> <h1>Получи приглашение на закрытую вечеринку </h1> </div>
        </div>
        <p>Мы ждем Вас</p>
    </div>

    <div id="inst-ctn">
        <div class="btn-ctn">
            <button>#PARTYCAFE ON INSTARGAM</button>
        </div>
        @Html.Partial("_InstaGallery")
    </div>
    <br/>
    <div id="anchor"></div>