@{
    ViewBag.Title = "PartyCafe";
}

<link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/css/owl.theme.css" rel="stylesheet" />
<link href="~/Content/css/owl.transitions.css" rel="stylesheet" />
<link href="~/Content/css/animate.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/home-index-style.css" rel="stylesheet"/>
<link href="~/Content/css/insta-gallery-style.css" rel="stylesheet"/>


<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/parts/home/index.js"></script>

    <div class="owl-container animated">
        <h1>ZАКРЫТАЯ<br> ТЕРРИТОРИЯ</h1>
        <div class="owl-carousel owl-theme">
            <div> <h1>Представляет<span> </span><br>новый формат<br>закрытых вечеринок</h1> </div>
            <div> <h1>Уникальная возможность<br>побывать в числе<br>избранных</h1> </div>
            <div> <h1>Получи приглашение<br>на закрытую вечеринку<br></h1> </div>
        </div>
        <p>Мы ждем Вас</p>
    </div>

    @Html.Partial("_InstaGallery")