@{
    Layout = "";
}
<h2>{{Header}}</h2>
<div class="tools-wrapp">
    <ul class="tools">
        <li class="tools-item"><button class="btn btn-default" ng-click="AddGallery()">Добавить фото в галлерею</button></li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="EditGallery()" ng-disabled="selectForEdit === ''">Редактировать фото</button>
        </li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="RemoveGallery()" ng-disabled="selectForEdit === ''">Удалить фото</button>
        </li>
    </ul>
</div>
<div class="admintable">
    <table border="1" width="100%">
        <thead>
            <tr>
                <th width="30px">№</th>
                <th width="260px">Название фото</th>
                <th>Описание к фото</th>
                <th>Фото</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in Gallery" ng-click="HighlightItem(item)" ng-class="{activeEdit: isActive(item)}">
                <td align="center">{{$index + 1}}</td>
                <td align="center">{{item.name}}</td>
                <td align="center">{{item.description}}</td>
                <td align="center">
                    <div style="width: 100px; height: 100px; background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

