@{
    ViewBag.Title = "Редактирование раздела фотогаллереи";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/GalleryController.js"></script>

<div ng-app="GalleryApp">
    <div ng-view></div>
</div>