@{
    ViewBag.Title = "Наши контакты";
}

<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQVAzvPpA4xNzc_FE485h55SFTms6C48Q"></script>

<link href="~/Content/css/contact-style.css" rel="stylesheet" />
<script src="~/Scripts/AngularControllers/ContactController.js"></script>


<div ng-app="ContactApp" ng-controller="ContactController">
    <div id="contact-data" class="row">
        <div class="col-md-4">
            <div class="sys">Адрес:</div>
            <div class="data">г.Москва, Большая Черкизовская 24 А, стр. 1</div>
        </div>
        <div class="col-md-4">
            <div class="sys">Телефон:</div>
            <div class="data">+7 916 99999 80</div>
        </div>
        <div class="col-md-4">
            <div class="sys">Email:</div>
            <div class="data">partycafe@mail.ru</div>
        </div>
    </div>

    <div id="social-links" class="row">
        <div class="col-md-3">
            <div class="fa fa-spec fa-vk" onclick="window.open('https://vk.com/partycaferu','_blank')"> Вконтакте</div>
        </div>
        <div class="col-md-3">
            <div class="fa fa-spec fa-instagram" onclick="window.open('https://www.instagram.com/partycaferu/','_blank')"> Instagram</div>
        </div>
        <div class="col-md-3">
            <div class="fa fa-spec fa-facebook" onclick="window.open('https://www.facebook.com/partycaferu','_blank')"> Facebook</div>
        </div>
        <div class="col-md-3">
            <div class="fa fa-spec fa-google-plus"> Google</div>
        </div>
    </div>

    <div id="contact-ctn" class="row">
        <div id="map"></div>
    </div>
</div>






