@{
    ViewBag.Title = "Наши контакты";
}

<!-- Map -->
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

<link href="~/Content/css/contact-style.css" rel="stylesheet" />
<script src="~/Scripts/AngularControllers/ContactController.js"></script>


<div ng-app="ContactApp" ng-controller="ContactController">
    <div id="contact-ctn" class="row">
        <div id="map"></div>
    </div>
    <div id="contact-data" class="row">
        <div class="col-sm-6 col-md-4">
            <div class="sys">Адрес:</div>
            <div class="data">г.Москва, Большая Черкизовская 24 А, стр. 1</div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sys">Телефон:</div>
            <div class="data">+7 916 99999 80</div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sys">Email:</div>
            <div class="data">hello@partycafe.ru</div>
        </div>
    </div>
</div>






