
@{
    ViewBag.Title = "Услуги";
}

<script src="~/Scripts/jquery/datepicker-ru.js"></script>
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/Scripts/AngularControllers/ServicesContoller.js"></script>

<div class="">
    <div class="services-wrap" ng-app="servicesapp" ng-controller="ServicesCt">
        <div class="post-entry">
            <div class="services-wrapper">

                <div ng-show="serviceBloks">
                    <div class="tiled-gallery-item" ng-repeat="item in Services">
                        <a href="javascript:void(0)" style="background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;" ng-click="More($index)">
                            <span class="sg-title">{{item.name}}</span>
                        </a>
                    </div>
                </div>

                <div ng-show="serviceMore">
                    <div ng-model="ServicesMore" class="services-more_content">
                        <h3 class="smore-title">{{ServicesMore.name}}</h3>
                        <div class="smore-text">{{ServicesMore.description}}</div>
                        <div class="smore-images">
                            <div class="smore-images_wrap" ng-repeat="itemphoto in ServicesMore.photos">
                                <a class="smore-images_item" href="javascript:void(0);" data-lightbox="gallery" data-title="{{itemphoto.name}}" style="background: url('{{itemphoto.photoPath}}') no-repeat center center; background-size: cover;"></a>
                            </div>
                        </div>
                        <div ng-show="formResult" style="color:white; font-size:20px; text-align:center;">
                            {{result}}
                        </div>
                        <div class="smore-blank">
                            <form mathod="post" novalidate ng-show="serviceOrderForm" name="myForm" class="smore-form">
                                <p>Имя*:</p>
                                <input type="text" value="" name="user" ng-model="services.User" required class="smore-form_tb">
                                <span style="color:red" ng-show="!myForm.user.$pristine && myForm.user.$invalid">
                                    <span ng-show="myForm.user.$error.required">Данное поле является обязательным!</span>
                                </span>
                                <p>Телефон*:</p>
                                <input type="text" name="phone" class="smore-form_tb" ng-pattern="/[0-9]{10}$/" ng-maxlength="10" placeholder="9869986868" ng-model="services.PhoneNumber">
                                <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                    <span ng-show="myForm.phone.$error.required">Данное поле является обязательным!</span>
                                    <span ng-show="myForm.phone.$error.pattern">Неверно указан номер телефона</span>
                                </span>
                                <p>Дата*:</p>
                                <input type="text" value="" name="date" class="smore-form_tb" ng-model="services.Date" placeholder="11.02.2015" jqdatepicker>
                                <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                                    <span ng-show="myForm.date.$error.required">Данное поле является обязательным!</span>
                                </span>
                                <p>Время*:</p>
                                <input type="text" ng-model="services.Time" value="" name="time" class="smore-form_tb" maxlength="5" onkeyup="SetTime(this)" ng-pattern="/[0-9]{2}[:]{1}[0-9]{2}$/" placeholder="17:00">
                                <span style="color:red" ng-show="myForm.time.$dirty && myForm.time.$invalid">
                                    <span ng-show="myForm.time.$error.required">Данное поле является обязательным!</span>
                                    <span ng-show="myForm.time.$error.pattern">Неверно указано время</span>
                                </span>
                                <input type="hidden" ng-model="services.Service" value="">
                                <input type="button" value="Заказать" class="smore-form_order" ng-click="formOrder()" ng-disabled="(myForm.user.$pristine || myForm.user.$dirty && myForm.user.$invalid) || (myForm.phone.$pristine || myForm.user.$dirty && myForm.user.$invalid) || (myForm.date.$pristine || myForm.date.$dirty && myForm.date.$invalid) || (myForm.time.$pristine || myForm.time.$dirty && myForm.time.$invalid)">
                            </form>
                            <input type="button" class="smore-order" ng-show="serviceOrder" value="Хочу заказать" ng-click="Oreder()">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
