
@{
    Layout = null;
}

<div class="row services-row" ng-repeat="item in Services">
    <div class="col-xs-12" ng-click="GetDetailed($index)">
        <img ng-src="{{item.photoPath}}" />
        <div class="services-header">{{item.name}}</div>
    </div>
</div>

