@{
    Layout = "";
}

<h2>
    Ближайшие события
</h2>

<div id="calendar" class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 clnd-ctn" ng-repeat="item in Events">
        <div class="clnd" ng-click="SelectEvent(this)">
            <div class="clnd-week" ng-class="item.class">{{item.week}}</div>
            <div class="clnd-day">{{item.day}}</div>
            <div class="clnd-month">{{item.month}}</div>
            <div class="img-ctn">
                <img ng-src="{{item.data.photo}}" ng-show="item.data.header" />
            </div>
            <div class="event-name" ng-show="item.data.header">
                {{item.data.header}}
                <br/>
                <span>{{item.data.time | CorrectTime}}</span>
            </div>
        </div>
    </div>
</div>

<div id="order" class="row" ng-show="Order.Show">
    <div id="order-img" class="row">
        <img ng-src="{{Order.ServiceImg}}" />
    </div>
    <div id="order-content">
    <div id="order-header" class="row">
        <div>
            {{Order.ServiceName}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            * Имя:
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="Order.Name" placeholder="Ваше имя"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            * Телефон: 
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="Order.Phone" placeholder="+7 (999) 999-99-99"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            &#160&#160Количество человек:
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="Order.Person"  maxlength="2" placeholder="5"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            &#160&#160Промокод:
        </div>
        <div class="col-sm-6">
            <input type="text" ng-model="Order.Promo" maxlength="10" placeholder="F145d3Ag7j"//>            
        </div>
    </div>

    <div class="row sys-row" ng-show="Order.ValError">
        Не все поля введены правильно!
    </div>

    <div class="row sys-row" ng-show="Order.ServerError">
        Не получилось отправить Вашу заявку :С Попробуйте связаться с нами по телефону. Спасибо за понимание!
    </div>

    <div class="row sys-row" ng-show="Order.Good">
        Ваша заявка была успешно отправлена. В ближайшее время Вам пеерезвонят для уточнения заявки
    </div>

    <div class="row">
        <div id="order-btn" ng-show="Order.ShowBtn">
            <div ng-click="SendOrder()">Присоединиться</div>
        </div>
    </div>
    </div>
</div>