@{
    Layout = "";
}
<div class="calendar-title">Ближайшие события</div>
<div id="calendar-wrap">
    <div class="event-day" note ng-repeat="item in Events">
        <div href="" class="ed-wrap">
            <div class="ed-week">{{item.week}}</div>
            <div clas="ed-day">{{item.day}}</div>
            <em class="ed-month">{{item.month}}</em>
            <strong class="ed-title">{{item.data.header}}</strong>
            <!-- style="background: url('{{item.data.photo}}') center center no-repeat; background-size: cover;" -->
            <div ng-click="EventMore(item.data)" class="ed-imgwrap"  ng-show="item.data.length === 0 ? false : true">
                <div class="ed-time">{{item.data.time.Hours}}:{{item.data.time.Minutes}}</div>
                <div class="ed-invite">Присоединиться</div>
                <img ng-src="{{item.data.photo}}" />
            </div>
        </div>
    </div>
</div>