@{
    ViewBag.Title = "календарь событий";
}

<script src="~/Scripts/isotop/isotope.pkgd.min.js"></script>
<script src="~/Scripts/AngularControllers/EventCalendarContoller.js"></script>

<div id="calendar" ng-app="eventcalendarapp" ng-controller="EventCalendar">
    <div class="calendar-title">Ближайшие события</div>
    <div id="calendar-wrap">
        <div class="event-day" note ng-repeat="item in Events">
            <a href="" class="ed-wrap">
                <div class="ed-week">{{item.week}}</div>
                <div clas="ed-day">{{item.day}}</div>
                <em class="ed-month">{{item.month}}</em>
                <strong class="ed-title">{{item.data.header}}</strong>
                <div class="ed-imgwrap" style="background: url('{{item.data.photo}}') center center no-repeat; background-size: cover;">
                    <div class="ed-invite">Присоединиться</div>
                </div>
            </a>
        </div>
    </div>
</div>
