@{
    ViewBag.Title = "календарь событий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/lightbox.css" rel="stylesheet" />
<script src="~/Scripts/lightbox.js"></script>
<script src="~/Scripts/isotop/isotope.pkgd.min.js"></script>
<script src="~/Scripts/AngularControllers/EventCalendarContoller.js"></script>

<div id="calendar" ng-app="eventcalendarapp">
    <div ng-view></div>
</div>
