@{
    ViewBag.Title = "календарь событий";
}

<script src="~/Scripts/isotop/isotope.pkgd.min.js"></script>
<script src="~/Scripts/AngularJs/angular.min.js"></script>

<div id="calendar" ng-app="eventcalendarapp" ng-controller="EventCalendar">
    <div class="calendar-title">Ближайшие события</div>
    <div id="calendar-wrap">
        <div class="event-day" ng-repeat="item in Events">
            <a href="" class="ed-wrap">
                {{item.day}}<em class="ed-month">{{item.month}}</em>
                <br>
                <strong class="ed-title">{{item.data.header}}</strong>
                <span class="ed-imgwrap">
                    <img src="{{item.data.photo}}" class="ed-image" alt="">
                </span>
            </a>
        </div>
    </div>
</div>

<script src="~/Scripts/AngularControllers/EventCalendarContoller.js"></script>