@{
    ViewBag.Title = "календарь событий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/event-calendar-style.css" rel="stylesheet"/>
<script src="~/Scripts/AngularControllers/EventCalendar/EventCalendarContoller.js"></script>

<div ng-app="eventcalendarapp">
    <div ng-view></div>
</div>
