

<div>
    <br/>
    <br/>
    <h2>{{Blog.Header}}</h2>
    <div ng-repeat="item in Blog.Photos">
        <img ng-src="{{item.PhotoLink}}"/>
        {{item.Description}}
        <br/>
        <br/>
    </div>
    <div>
        {{Blog.Message}}
    </div>
</div>


