
@{
    ViewBag.Title = "Блоги";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/Blog/BlogController.js"></script>

<div ng-app="BlogApp" ng-controller="BlogController">
    <div ng-view></div>
</div>

