@{
    ViewBag.Title = "игры";
}

<script src="~/Scripts/owl.carousel.js"></script>
<link href="~/Content/css/owl.carousel.css" rel="stylesheet" type="text/css" />

<style>
    .main {
        width: 792px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.5);
    }
    .clearall {
        clear: both;
        height: 1px;
        margin-bottom: -1px;
        overflow: hidden;
    }
    .gridViewport {
        overflow: hidden;
        position: relative;
    }
    .cellGridGameStandard{
        width: 130px;
        height: 235px;
        margin: 0 29px 29px 0;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        overflow: hidden;
    }

    .cellCtnr {
        width: 124px;
        height: 264px;
    }
    .thumbPane {
        width: 124px;
        height: 124px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .thumbPane img {
        width: 124px;
        height: 124px;
    }

    .rgba .cellGrid .thumbPane, .rgba .cellGridGameStandard .thumbPane, .rgba .cellGridVideoStandard .thumbPane, .rgba .familyCellGridStandard .thumbPane {
        background: rgba(60,60,60,0.7);
    }
    .infoPaneContainer {
        background: rgba(60,60,60,0.7);
    }
    .infoPane {
        margin: 0 8px;
        padding: 8px 0;
    }
    .cellTitle {
        height: 64px;
        overflow: hidden;
        text-align: left;
        font-family: OpenSans !important;
        float: none;
        font-size: 12px;
        line-height: 16px;
        width: 108px;
        word-wrap: break-word;
        white-space: normal;
        color: #F5F5F5;
        font-weight: normal;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }
    .type, .pforms {
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        opacity: 0.5;
        white-space: nowrap;
        color: #F5F5F5;
        font-weight: normal;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }

</style>

<div class="main">
    <div class="panelGrid">
        <div class="gridViewport">
            <div>
                <ul>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP4497-CUSA01440_00-0000000000000004/1455704902000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="Ведьмак 3: Дикая Охота">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">Ведьмак 3: Дикая Охота</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS4</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP0002-CUSA00433_00-D3ULTIMATEEVIL00/1454547088000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="Diablo III: Reaper of Souls - Ultimate Evil Edition  - EFIGS">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">Diablo III: Reaper of Souls - Ultimate Evil Edition  - EFIGS</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS4</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP2186-CUSA00903_00-DFSXBUYBUNDLE000/1454089936000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="Dragon Fin Soup">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">Dragon Fin Soup</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS3|PS4|PS Vita</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP0006-NPEB00503_00-MASSEFFECT200000/1455757033000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="Mass Effect™ 2">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">Mass Effect™ 2</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS3</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP4133-CUSA02762_00-DIVINITYPS4BUNDL/1454547076000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="DIVINITY ORIGINAL SIN - ENHANCED EDITION">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">DIVINITY ORIGINAL SIN - ENHANCED EDITION</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS4</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cellGridGameStandard">
                        <div class="cellCtnr">
                            <div class="cellBorderCtnr">
                                <div class="thumbPane">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/RU/ru/999/EP9000-NPEA00252_00-GINFAMOUSX000001/1455800834000/image?_version=00_09_000&amp;platform=chihiro&amp;w=124&amp;h=124&amp;bg_color=000000&amp;opacity=100" alt="inFAMOUS™">
                                </div>
                                <div class="infoPaneContainer">
                                    <div class="infoPane">
                                        <div>
                                            <h3 class="cellTitle">inFAMOUS™</h3>
                                        </div>
                                        <div>
                                            <h4 class="pforms">PS3</h4>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearall"></div>
</div>