
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>PartyCafe CMS</h2>

<hr/>

<button class="btn btn-default" onclick="document.location.href='/'">Вернуться на сайт</button>

