@{
    Layout = "";
}

<h2>{{Header}}</h2>
<div class="addit-wrap">
    <form name="aboutPhotoForm">
    <div class="addit-wrap">
        <label class="addit-label" for="aboutusPhotoName">Название:</label>
        <input type="text" class="form-control" ng-model="aboutusPhotoAdd.Name" name="aboutusPhotoName" placeholder="Название фото" required>
    </div>
    <div class="addit-wrap">
        <label class="addit-label" for="aboutusPhotoPass">Описание к фотографии:</label>
        <textarea class="form-control" ng-model="aboutusPhotoAdd.Desc" name="aboutusPhotoDesc" placeholder="Описание фото"></textarea>
    </div>
    <div class="addit-wrap">
        <label class="addit-label" for="aboutusPhoto">Фотография:</label>
        <input type="file" class="form-control" ng-model="aboutusPhotoAdd.Photo" name="aboutusPhoto">
    </div>
    <div class="addit-wrap">
        <input type="button" class="btn btn-default" value="Добавить фото" ng-click="addPhoto()">
    </div>
    <div class="error-wrap">{{error}}</div>
    </form>
</div>

<div class="admintable">
    <table width="100%">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Описание</th>
                <th>Редактирование</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in BlockPhotos.photos" ng-click="HighlightItem(item)" ng-class="{activeEdit: isActive(item)}">
                <td align="center">
                    <div style="width: 100px; height: 100px; background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></div>
                </td>
                <td align="center">
                    <textarea class="photo-tb" ng-model="item.name" name="photoDesc"></textarea>
                </td>
                <td align="center">
                    <ul class="photo-list">
                        <li class="photo-tools" ng-click="updatePhotoName($index)" title="Редактировать название"><i class="fa fa-pencil"></i></li>
                        <li class="photo-tools" ng-click="removePhoto($index)" title="Удалить фотографию из блока"><i class="fa fa-trash"></i></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tools-wrapp">
    <ul class="tools_add">
        <li class="tools-item"><button class="btn btn-default" ng-click="Back()">Назад</button></li>
    </ul>
</div>