@{
    ViewBag.Title = "Редактирование блока";
    Layout = "";
}

<h2>{{Header}}</h2>
<div class="additwrap">
    <form name="aboutForm">
        <div class="addit-wrap">
            <label class="addit-label" for="aboutName">Название:</label>
            <input type="text" class="form-control" ng-model="itemForEdit.name" name="aboutName" value="{{itemForEdit.name}}" placeholder="Самое лучшее фото" required>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="aboutPass">Описание:</label>
            <textarea class="form-control" ng-model="itemForEdit.description" name="aboutDesc" value="{{itemForEdit.description}}" placeholder="Самое лучшее фото"></textarea>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="aboutPass">Изображение:</label>
            <img ng-src="{{itemForEdit.photoPath}}" ng-show="CurrentPhotoShow">
            <br>
            <br>
            <div class="addit-wrap" ng-show="ChangePhotoShow" >
                <input type="file" class="form-control" ng-model="itemForEdit.Photo" name="aboutPhoto">
            </div>
            <div class="addit-wrap">
                <input type="button" class="btn btn-default" value="Изменить изображение блока" ng-click="changePhoto()">
            </div>
        </div>

        <div class="error-wrap">{{error}}</div>
        <div class="tools-wrapp">
            <ul class="tools_add">
                <li class="tools-item">
                    <button class="btn btn-default" ng-click="updateAbout()">Сохранить</button>
                </li>
                <li class="tools-item"><button class="btn btn-default" ng-click="Back()">Назад</button></li>
            </ul>
        </div>
    </form>
</div>