
@{
    Layout = null;
}

<h1>Редактирование раздела</h1>
<h2></h2>

<div class="photo-ctn">
    <img ng-src="{{Service.photoPath}}" />
</div>

<form name="AboutPartForm">

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text"><span class="mandatory-field">*</span>Заголовок</div>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="Service.name" placeholder="Банкетный зал" required/>
    </div>
</div>

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text">Описание</div>
    </div>
    <div class="col-md-9">
        <textarea class="form-control" ng-model="Service.description" rows=10 placeholder="Введите описание для данного раздела"></textarea>
    </div>
</div>

<div class="row admin-row">
    <div class="col-md-3">
       <div class="sys-text">Фотография раздела</div>
    </div>
    <div class="col-md-9">
        <input type="file" name="aboutusPhoto" class="form-control" ng-model="PartPhoto"/>
    </div>
</div>

</form>

<button class="btn btn-default" data-toggle="collapse" data-target="#subphoto">Управление фотографиями раздела</button>

<div id="subphoto" class="subphoto-ctn collapse">
    <div class="row">
        <div class="col-sm-4 admin-row" ng-repeat="photo in Service.photos">
            <div class="photo-ctn photo-ctn-deletable">
                <img ng-src="{{photo.photoPath}}"/>
                <div class="photo-deletable"><span ng-click="DeletePhoto($index)">X</span></div>
            </div>
        </div>
        <div class="col-sm-4 admin-row">
            <div class="photo-ctn">
                <input type="file" name="subphotoinp" class="form-control" ng-model="PartPhoto"/>
                <br/>
                <button class="btn btn-default" ng-click="AddPhoto()" >Добавить фотографию</button>
                <br/>
                <div class="error-ctn">{{SubPhotoError}}</div>
            </div>
        </div>
    </div>
</div>

<div class="error-ctn">
    {{Error}}
</div>

<div class="help-ctn">
    Поля отмеченные символом - <span class="mandatory-field">*</span> 
    <br/>
    oбязательны для заполнения
    <br/>
    Для изменения фоторафии раздела, выберите новую фотографию и нажмите на "Сохранить изменения"
</div>

<div class="row admin-btn-row">
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="SaveChanges()">Сохранить изменения</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Back()">Вернуться назад</button>
    </div>
    <div class="col-sm-4 admin-row">
        <button class="btn btn-default" ng-click="Delete()">Удалить раздел</button>
    </div>
</div>