@{
    Layout = "";
}

<h2>{{Header}}</h2>
<div class="tools-wrapp">
    <ul class="tools_add">
        <li class="tools-item"><button class="btn btn-default" ng-click="Back()">Назад</button></li>
    </ul>
</div>
<div class="admintable">
    <table border="1" width="100%">
        <thead>
            <tr>
                <th width="30px">№</th>
                <th>Фото</th>
                <th>Описание блока</th>
                <th>Редактирование</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in BlockPhotos.photos" ng-click="HighlightItem(item)" ng-class="{activeEdit: isActive(item)}">
                <td align="center">{{$index + 1}}</td>
                <td align="center">
                    <div style="width: 100px; height: 100px; background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></div>
                </td>
                <td align="center">
                    <textarea class="photo-tb" ng-model="photoName">{{photoName = item.name}}</textarea>
                </td>
                <td align="center">
                    <ul class="photo-list">
                        <li class="photo-tools" ng-click="updatePhotoName($index)" title="Редактировать название"><i class="fa fa-floppy-o"></i></li>
                        <li class="photo-tools" ng-click="removePhoto()" title="Удалить фотографию из блока"><i class="fa fa-trash"></i></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>