@{
    ViewBag.Title = "Zакрытая территория";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/AboutUs/AboutController.js" ></script>
<script src="~/Areas/Admin/Script/AboutUs/AboutListController.js" ></script>
<script src="~/Areas/Admin/Script/AboutUs/AboutEditController.js" ></script>
<script src="~/Areas/Admin/Script/AboutUs/AboutNewController.js" ></script>

<div ng-app="AboutApp" ng-controller="AboutController">
    <div ng-view></div>
</div>
