@{
    Layout = "";
}
<h2>{{Header}}</h2>
<!-- Main food menu -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Сохранить изменения?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-default bt-ok">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<div class="fm-main">
    <ul class="fm-main_list">
        <li class="fm-main_list-itemclear"></li>
        <li class="fm-main_list-item" ng-repeat="item in FoodMenu" ng-class="{'fm-main_active' : item.idRecord == selectedmain}" ng-click="getSubmenu(item, $index)">
            <input type="text" ng-model="item.name" class="fm-main_text" ng-disabled="item.disable">
            <div class="fm-main_tools">
                <ul class="fm-main_tools-list">
                    <li class="fm-main_tools-item" ng-click=""><i class="fa fa-floppy-o"></i></li>
                    <li class="fm-main_tools-item" data-toggle="modal" ng-click="editMainItem(item.name, item)"><i class="fa fa-pencil"></i></li>
                    <li class="fm-main_tools-item" ng-click="removeMainItem(item)"><i class="fa fa-trash"></i></li>
                </ul>
            </div>
        </li>
        <li class="fm-main_list-item" ng-click="getSubmenu(undefined, $index)">
            <input type="text" ng-model="mainsection.name" class="fm-main_text" placeholder="Новый раздел">
            <div class="fm-main_tools">
                <ul class="fm-main_tools-list">
                    <li class="fm-main_tools-item" ng-click="addMainItem(mainsection.name)"><i class="fa fa-plus"></i></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- /Main food menu -->

<div class="row">
    <div class=" col-md-3 col-sm-3 col-xs-3">
        <!-- Submenu -->
        <div class="fm-submenu">
            <div class="fm-submenu-wrapper">
                <ul class="fm-sm_list">
                    <li class="fm-main_list-itemclear"></li>
                    <li class="fm-sm_list-item" ng-repeat="item in SubMenu" ng-class="{'fm-sub_active' : item.idRecord == selectedsub}" ng-click="getSubmenuItems(item, $index)">
                        <input type="text" ng-model="item.name" class="fm-sm_text">
                        <div class="fm-sm_tools">
                            <ul class="fm-sm_tools-list">
                                <li class="fm-sm_tools-item"><i class="fa fa-plus"></i></li>
                                <li class="fm-sm_tools-item" ng-click="editSubItem(item.name, item)"><i class="fa fa-pencil"></i></li>
                                <li class="fm-sm_tools-item" ng-click="removeSubItem(item)"><i class="fa fa-trash"></i></li>
                            </ul>
                        </div>
                    </li>
                    <li class="fm-sm_list-item" ng-show="SubMenuEdit" ng-click="getSubmenuItems()">
                        <input type="text" ng-model="subsection.name" class="fm-sm_text" placeholder="Новый раздел">
                        <div class="fm-sm_tools">
                            <ul class="fm-sm_tools-list">
                                <li class="fm-sm_tools-item" ng-click="addSubItem(subsection.name)"><i class="fa fa-plus"></i></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Submenu -->
    </div>

    <div class="col-md-8 col-sm-8 col-sx-8">
        <!-- Submenu items -->
        <ul class="fm-sm_list">
            <li class="fm-main_list-itemclear"></li>
            <li class="fm-smi_list-item" ng-repeat="item in SubMenuItems">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-sx-2">
                        <img src="{{item.photoPath}}" style="background-color: gray; background-size: cover; width: 100%;">
                        <br>
                        <div class="addit-wrap" ng-show="ChangePhotoShow">
                            <input type="file" class="form-control" ng-model="itemForEdit.Photo" name="foodmenusubitemPhoto">
                        </div>
                        <div class="addit-wrap" ng-show="ChangePhotoBtn">
                            <input type="button" class="btn btn-default" value="Изменить изображение" ng-click="changePhoto()">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-sx-8">
                        <div class="fm-subitems-wrap">
                            <div>Название</div>
                            <input type="text" ng-model="item.name" class="fm-sm_text" name="subitemName">
                        </div>
                        <div class="fm-subitems-wrap">
                            <div>Описание</div>
                            <input type="text" ng-model="item.description" class="fm-sm_text" name="subitemDesc">
                        </div>
                        <div class="fm-subitems-wrap">
                            <div>Вес / платформа</div>
                            <input class="platformweight" ng-model="platformweightmodel" ng-if="platformweightmodel = item.Platform === null ? item.Weight : item.Platform">
                        </div>
                        <div class="price-wrap">
                            <div>Цена</div>
                            <input class="platformweight" ng-model="item.price"><i class='fa fa-rub'></i>
                        </div>
                    </div>
                </div>
                <div class="fm-sm_tools">
                    <ul class="fm-sm_tools-list">
                        <!--<li class="fm-sm_tools-item" ng-click="addSubmenuItem()"><i class="fa fa-plus"></i></li>-->
                        <li class="fm-sm_tools-item" ng-click="editSubmenuItem(item, platformweightmodel, item.idRecord)"><i class="fa fa-pencil"></i></li>
                        <li class="fm-sm_tools-item" ng-click="removeSubmenuItem(item)"><i class="fa fa-trash"></i></li>
                    </ul>
                </div>
            </li>
            <li class="fm-smi_list-item" ng-show="SubMenuItemsEdit">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-sx-2">
                        <div class="addit-wrap">
                            <label class="addit-label" for="submenuitemPhoto">Фотография:</label>
                            <br>
                            <input type="file" class="form-control" ng-model="submenuitem.Photo" name="submenuitemPhoto">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-sx-8">
                        <div class="fm-subitems-wrap">
                            <div>Название</div>
                            <input type="text" ng-model="subsectionitem.name" class="fm-sm_text" name="subitemName">
                        </div>
                        <div class="fm-subitems-wrap">
                            <div>Описание</div>
                            <input type="text" ng-model="subsectionitem.description" class="fm-sm_text" name="subitemDesc">
                        </div>
                        <div class="fm-subitems-wrap">
                            <div>Вес / платформа</div>
                            <input type="text" ng-model="subsectionitem.platformweight" class="platformweight">
                        </div>
                        <div class="price-wrap">
                            <div>Цена</div>
                            <input type="text" ng-model="subsectionitem.price" class="platformweight"><i class='fa fa-rub'></i>
                        </div>
                        <div class="fm-sm_tools">
                            <ul class="fm-sm_tools-list">
                                <li class="fm-sm_tools-item" ng-click="addSubmenuItem(subsectionitem)"><i class="fa fa-plus"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- /Submenu items -->
    </div>

</div>