
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <td>
            <input class="form-control" ng-model="MenuType.Name" />
        </td>
    </tr>
    <tr>
        <th>
            Описание
        </th>
        <td>
            <input class="form-control" ng-model="MenuType.Name" />
        </td>
    </tr>
    <tr>
        <th>
            Цена
        </th>
        <td>
            <input class="form-control" ng-model="MenuType.Name" />
        </td>
    </tr>
</table>

