
<table class="table">
    <tr>
        <th></th>
        <th>
            Название
        </th>
        <th>
            Цена
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="item in FoodMenuItems">
        <td>
            <img ng-src="{{item.PhotoLink}}" />
        </td>
        <td>
            {{item.Name}}
        </td>
        <td>
            {{item.Price}}
        </td>
        <td>
            <img src="~/Areas/Admin/Content/edit.png" />
        </td>
        <td>
            <img src="~/Areas/Admin/Content/delete.png" />
        </td>
    </tr>
</table>

