@{
    ViewBag.Title = "Редактирование меню";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Areas/Admin/Script/FoodMenuController.js"></script>
<div ng-app="FoodMenuApp">
    <div ng-view></div>
</div>

