@{
    ViewBag.Title = "Редактирование меню";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Areas/Admin/Script/FoodMenuController.js"></script>
<link href="~/Areas/Admin/Content/css/font-awesome.min.css" rel="stylesheet" />

<div ng-app="FoodMenuApp">
    <div ng-view></div>
</div>

