@{
    ViewBag.Title = "Меню";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuListController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuItemsController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuItemEditController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuItemNewController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuNewController.js" ></script>
<script src="~/Areas/Admin/Script/FoodMenu/FoodMenuEditController.js" ></script>

<div ng-app="FoodMenuApp" ng-controller="FoodMenuController">
    <div ng-view></div>
</div>

