

<button class="btn btn-default" ng-click="AddMenuType()">Добавить новый раздел меню</button>
<br/>
<br/>
<table class="table">
    <tr>
        <th>
            Изображение раздела
        </th>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="item in MenuTypes.MenuSections">
        <td>
            <img ng-src="{{item.PhotoLink}}" />
        </td>
        <td>
            {{item.Name}}
        </td>
        <td>
            {{item.Description}}
        </td>
        <td id="{{item.IdRecord}}.Edit" onclick="document.location='#EditMenuSection/' + id.split('.')[0]">
            <img src="~/Areas/Admin/Content/edit.png"/>
        </td>
        <td id="{{item.IdRecord}}.Delete" ng-click="DeleteMenuType(this)">
            <img src="~/Areas/Admin/Content/delete.png" />
        </td>
    </tr>
</table>
