
@{
    Layout = null;
}

<h2>{{Header}}</h2>
<h2></h2>

<button class="btn btn-default" ng-click="AddNew()">+ Добавить подраздел</button>

<hr/>

<div class="row admin-spec-row" ng-repeat="item in SubMenu" ng-click="Select($index)">
     <div class="col-sm-8">
        <div class="row-middle">{{item.name}}</div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default" ng-click="Edit($index)">Редактировать</button>
    </div>
</div>