
@{
    Layout = null;
}

<h1>{{Header}}</h1>

<form name="MenuForm">

<div class="row admin-row">
    <div class="col-md-3">
        <div class="sys-text"><span class="mandatory-field">*</span>Название</div>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="MenuItem.name" placeholder="Завтраки" required/>
    </div>
</div>

</form>

<div class="error-ctn">
    {{Error}}
</div>

<div class="help-ctn">
    Поля отмеченные символом - <span class="mandatory-field">*</span> 
    <br/>
    oбязательны для заполнения
</div>

<div class="row admin-btn-row">
    <div class="col-sm-6 admin-row">
        <button class="btn btn-default" ng-click="SaveChanges()">{{BtnName}}</button>
    </div>
    <div class="col-sm-6 admin-row">
        <button class="btn btn-default" ng-click="Back()">Вернуться назад</button>
    </div>
</div>

