@{
    ViewBag.Title = "Услуги";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Script/Services/ServicesController.js" ></script>
<script src="~/Areas/Admin/Script/Services/ServicesListController.js" ></script>
<script src="~/Areas/Admin/Script/Services/ServicesEditController.js" ></script>
<script src="~/Areas/Admin/Script/Services/ServicesNewController.js" ></script>

<div ng-app="ServicesApp" ng-controller="ServicesController">
    <div ng-view></div>
</div>