@{
    Layout = "";
}
<h2>{{Header}}</h2>
<div class="tools-wrapp">
    <ul class="tools">
        <li class="tools-item"><button class="btn btn-default" ng-click="addServices()">Добавить услугу</button></li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="editServices()" ng-disabled="selectForEdit === ''">Редактировать услугу</button>
        </li>
        <li class="tools-item">
            <button class="btn btn-default" ng-click="removeServices(selectForEdit)" ng-disabled="selectForEdit === ''">Удалить услугу</button>
        </li>
        <li class="tools-item"></li>
        <li class="tools-item"><button class="btn btn-default" ng-disabled="selectForEdit === ''" ng-click="editServicesPhoto()">Редактировать фотографии услуги</button></li>
        <li class="tools-item"></li>
    </ul>
</div>
<div class="admintable">
    <table width="100%">
        <thead>
            <tr>
                <th width="260px">Название услуги</th>
                <th>Описание услуги</th>
                <th>Фото услуги</th>
                <th>Количество фотографий в услугах</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in Services" ng-click="HighlightItem(item)" ng-class="{activeEdit: isActive(item)}">
                <td align="center">{{item.name}}</td>
                <td align="center">{{item.description}}</td>
                <td align="center">
                    <div style="width: 100px; height: 100px; background: url('{{item.photoPath}}') no-repeat center center; background-size: cover;"></div>
                </td>
                <td align="center">{{item.photos.length}}</td>
            </tr>
        </tbody>
    </table>
</div>