@{
    ViewBag.Title = "Добавление услуги";
    Layout = "";
}

<h2>{{Header}}</h2>
<div class="additwrap">
    <form name="servicesForm">
        <div class="addit-wrap">
            <label class="addit-label" for="servicesName">Название услуги:</label>
            <input type="text" class="form-control" ng-model="servicesAdd.Name" name="servicesName" placeholder="Новый блок галереи" required>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="servicesDesc">Описание услуги:</label>
            <textarea кщцы="5" class="form-control" ng-model="servicesAdd.Desc" name="servicesDesc" placeholder="Самое лучшее фото вечеринки"></textarea>
        </div>
        <div class="addit-wrap">
            <label class="addit-label" for="servicesPhoto">Фотография услуги:</label>
            <input type="file" class="form-control" ng-model="servicesAdd.Photo" name="servicesPhoto" required>
        </div>

        <div class="error-wrap">{{error}}</div>
        <div class="tools-wrapp">
            <ul class="tools_add">
                <li class="tools-item">
                    <button class="btn btn-default" ng-click="addServices()">Добавить</button>
                </li>
                <li class="tools-item"><button class="btn btn-default" ng-click="Back()">Назад</button></li>
            </ul>
        </div>
    </form>
</div>
