
.bgvideo {
    position:fixed;
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}
#vplayer {
    position: fixed;
    min-width: 100%;
    min-height: 800px;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.5;
    background: black;
}