

#map{
    width:100%;
    height: 400px;
}

#contact-ctn{
    position:absolute;
    width:100%;
    height:400px;
    bottom:0;
    left:15px;
    color:white;
}

#contact-data{
    padding:10px;
    text-align:center;
}

#contact-data .sys{
    padding-top:10px;
    padding-bottom:0px;
    color:#d4d4d4;
    font-size:20px;
}

#contact-data .data{
    padding-top:0px;
    padding-bottom:10px;
    color:#fff;
    font-size:20px;

    cursor:pointer;
}

#social-links{
    padding:10px;
    text-align:center;
}

.fa{
    cursor:default;
    font-size:25px;
    padding:10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color:transparent !important;
    color:#fff !important;
}

.fa-spec:hover{
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color:#fff !important;
    color:#000 !important;

    cursor:pointer;
}

.spec-col{
    padding:0 !important;
    margin:0 !important;
}

@media (max-width:1095px){
    #contact-ctn{
    position:relative;
    margin-left:-30px;
    width:calc(100% + 30px);
    height:400px;
    color:white;
    }
}

@media (max-height:650px){
    #contact-ctn{
    position:relative;
    margin-left:-30px;
    width:calc(100% + 30px);
    height:400px;
    color:white;
    }
}