
h2{
    text-align:center;
    padding-top:10px;
    color:#fff;
}

#calendar-header{
    margin-top:60px;
    margin-bottom:0px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:20px;
}

#calendar{
    text-align:center;
    border: 2px solid #000;
}

.clnd-ctn{
    margin:0 !important;
    padding: 0 !important;
}

.clnd{
    padding:10px;
    height:100px;
    overflow:hidden;
    z-index:5;
    background-color:rgba(0,0,0,0.4);
    color:#fff;
    text-align:center;
}

.clnd:hover{
    background-color:transparent;
}

.clnd:hover .img-ctn{
    transition: z-index 0.5s ease;
    z-index:50;
}

.clnd:hover .event-name{
    width:100%;
}

.clnd .img-ctn{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    outline:none;
    overflow:hidden;
}

.clnd img{
    height:100%;
}

.clnd-week{
    position:relative;
    top:0;
    z-index:5;
    font-size:15px;
}

.clnd-day{
    position:relative;
    font-size:25px;
    z-index:5;
    font-weight:bold;
}

.clnd-month{
    position:relative;
    bottom:0;
    z-index:5;
    font-size:20px;
}

.event-name{
    position:absolute;
    width:0;
    bottom:0;
    margin-left:-10px;
    padding-bottom:0;
    z-index:55;
    background-color: rgba(0,0,0,0.5);
    text-align:center;
    overflow:hidden;
}

.event-name span{
    font-size:25px;
}

/* Order part */

#order{
    width:calc(100% + 30px);
    height:100%;
    margin : 0 -15px;
    padding: 0 15px;
    color:white;
    font-size:19px;
    
    border-top:5px solid #000;
    border-bottom:5px solid #000;
}

#order input[type="text"]{
    width:100%;
    background-color:transparent;
    border : 1px solid #c4c4c4;
    outline:none;
    color:#fff;
    padding:5px 10px;
}

#order-btn{
    margin-bottom:50px;
}

#order-btn div{
    position:relative;
    width:200px;
    height:60px;
    left:50%;
    margin-left:-100px;

    padding-top:15px !important;
    text-align:center;
    background-color:#000;
    border: 2px solid #c4c4c4;
    color:#c4c4c4;

}

#order-btn div:hover{
    transition:border 0.5s ease, color 05.s ease;
    color:#fff;
    border: 2px solid #fff;
}

#order-img{
    position:absolute;
    width:100%;
    max-height:447px;
    overflow:hidden;
    text-align: center;
}

#order-img img{
    min-width:100%;
    min-height:100%;
}

#order-header{
    width:100%;
    text-align:center;
    font-size:25px;
}

#order-content{
    position:relative;
    background-color:rgba(0,0,0,0.7);
    padding:15px;
    width:calc(100% + 30px);
    margin-left:-15px;
}

#order-content div{
    padding-top:5px;
    padding-bottom:5px;
}

.sys-row{
    text-align:center;
}