
h2{
    text-align:center;
    padding-top:10px;
    color:#fff;
}

#menu-nav{
    margin-left:0 !important;
}

#food-ctn{
    margin:0!important;
}

#food-ctn img{
    width:100%;
}

#food-ctn .food-item{
    width:100%;
}

#food-ctn .food-photo{
    width:100%;
    height:100%;
    overflow:hidden;
}

#food-ctn .food-header{
    position:relative;
    width:100%;
    height:40px;
    margin-top:-40px;
    padding-top:8px;
    font-size:20px;
    text-align:center;
    color:white;
    background-color:rgba(0,0,0,0.8);
}

.food-row{
    background-color:rgba(0,0,0,0.5);
    font-style:italic;
    margin:10px;
    min-height:600px;
}

.food-fd{
    position:absolute;
    bottom:15px;
    right:35px;
    text-align:right;
    color:#fff;
}

.food-desc{
    color:#fff;
    padding:10px;
}

.food-desc .desc{
    padding-bottom:15px;
    font-size:20px;
    white-space:pre-wrap;
}

.dropdown-toggle a{
    cursor:pointer;
}

.dropdown-menu{
    background-color:#000;
}

.dropdown-menu li{
    width:100%;
    text-align:center;
}

.dropdown-menu li a{
    cursor: pointer;
}

.dropdown-menu  li:after {
	content: '';
	display: block;
	margin: auto;
    margin-top: 0;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}

.dropdown-menu  li:hover:after {
	width: 100%;
	background: #FFF;
}

.dropdown-menu li:hover a{
    background-color:transparent;
}

.caret{
    border-top-color:#fff !important;
    border-bottom-color:#fff !important;
}

.spec-col{
    padding:0!important;
    margin:0!important;
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before{
    font-size:15px;
}