
#logo-lg{
    text-align: center;
    margin-top:100px;
}

#logo-lg img{
    width:200px;
}

#inst-ctn{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    margin-top: -50px;
    overflow:hidden;
}

#anchor{
    margin-top:70px;
}

#animintro {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
	display: none;
	overflow: hidden;
}

.owl-container {
    margin: 60px auto 0 auto;
    max-width: 800px;
    text-align: center;
    color:#fff;
    overflow:hidden;
    cursor:default;
}
.owl-container p { margin-top: 20px; }
.owl-carousel h1 { font-size: 40px; margin-bottom: 0; }

.btn-ctn{
    width:100%;
    text-align:center;
}

.btn-ctn button{
    background-color : transparent;
    border: none;
    outline:none;
    color:#fff;
    font-size:20px;
    padding:20px;
}

@media (max-width:800px){
    .owl-container{
        max-width:440px;
    }
}

@media (max-height:770px){
    #inst-ctn{
        position:relative;
        width:100%;
        margin-top: 0;
        overflow:hidden;
    }
}
