*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: auto;
    color: #fff!important;}
a { text-decoration: none; }
ul { list-style: none; }
img { border: 0; outline: 0; }

/* Top menu */
.show { display: block!important; }
.hide { display: none!important; }
#navigation {
    position: absolute;
    z-index: 999;
    background: black;
    height: 64px;
    width: 100%;
    -webkit-backface-visibility: hidden;
}
.h-wrap { position: relative; margin: 0 auto; max-width: 1040px; }
.h-wrap a, .h-wrap span, .barMenuLeft-mobile a { color: rgb(200,200,200); }
.top-social { position: relative; width: 35%; float: left; }
.menu { display: inline-block; padding: 0; margin: 0;}
.menu li {
    display: inline-block;
    position: relative;
    margin: 0px 8px;
    padding: 0px 4px;
    cursor: pointer;
    float: left;
}
.menu a {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #a3a3a3;
    line-height: 64px;
    text-transform: uppercase;
    cursor: pointer;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mi-link-title {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu-item:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    width: 0px;
    height: 2px;
    margin-top: -4px;
    background: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-item:hover:after { width:100%; }
#top-social {
    float: right;
    width: 20%;
    position: relative;
    text-align: center;
}
#top-social i {
    font-size: 13px;
    margin-left: 13px;
    line-height: 64px;
}

/* BG Star */
#home-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100% !important;
    overflow: hidden;
    z-index: 2;
}
#canvas-container {
    position: fixed !important;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
canvas {
    position: fixed !important;
    z-index: 0;
    width: 100%;
    height: 100%;
}

/* Mobile */
.mobile-wrap { display: none; }
.mobile-menu { margin: 0; padding: 0; display: none; }
.mobile-nav, .fm-mobile {
    display: block;
    width: 100%;
    height: 100%;
    outline: 1px solid #5F5F5F;
    padding: 8px 10px;
}
.mobile-menu-btn, .barMenuLeft-mobile {
    position: absolute;
    height: auto;
    width: 46px;
    top: 10px;
    right: 10px;
}
.mobile-menu-btn i, .barMenuLeft-mobile i { font-size: 30px; }
.barMenuLeft-mobile { display: none; }

/* logo */
.logo { height: 80px; }
.logo:before {
    content: '';
    position: absolute;
    width: 84%;
    height: 0%;
    background: black;
    display: block;
    top: 3%;
    left: 8%;
    z-index: -1;
}
.logo:hover:before { height: 89%; background: #E2E3E4; }
.logo-text {
    float: left;
    width: 20%;
    position: relative;
}

/* Background video */
.bgvideo {
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}
#vplayer {
    position: relative;
    min-width: 100%;
    min-height: 800px;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.5;
    background: black;
}

/* Govnoslider */
.slider { width: 45%; margin: 0 auto; }
.slide { width: 100%; margin: 0 auto; text-align: center; }
/*.content-block {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
}*/
.owl-container {
    margin: 20px auto 0 auto;
    width: 440px;
    text-align: center;
    padding-right: 50px;
}
.owl-container h1 { font-size: 48px; margin-bottom: 40px; }
.owl-container p { margin-top: 20px; }
.owl-carousel h1 { font-size: 30px; margin-bottom: 0; }
.content-block h1 {
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 80px;
    font-weight: 600;
    line-height: auto;
    text-align: center;
    color: #fff;
}
.content-block h1 span { color: #1fb8b2; }

/* GAMES */
.main { max-width: 80%; margin: 0 auto; background-color: rgba(0,0,0,0.5); }
.clearall {
    clear: both;
    height: 1px;
    margin-bottom: -1px;
    overflow: hidden;
}
.panelGrid { overflow: hidden; }
.gridViewport {
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    height: 680px;
    margin-right: -20px;
}
.cellGridGameStandard{
    width: 130px;
    height: 235px;
    margin: 0 29px 29px 0;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    overflow: hidden;
}
.cellCtnr { width: 124px; height: 264px; }
.thumbPane {
    width: 124px;
    height: 124px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.thumbPane img { width: 124px; height: 124px; }
.rgba .cellGrid .thumbPane, .rgba .cellGridGameStandard .thumbPane, .rgba .cellGridVideoStandard .thumbPane, .rgba .familyCellGridStandard .thumbPane { background: rgba(60,60,60,0.7); }
.infoPaneContainer { background: rgba(60,60,60,0.7); }
.infoPane { margin: 0 8px; padding: 8px 0; }
.cellTitle {
    height: 64px;
    overflow: hidden;
    text-align: left;
    font-family: OpenSans !important;
    float: none;
    font-size: 12px;
    line-height: 16px;
    width: 108px;
    word-wrap: break-word;
    white-space: normal;
    color: #F5F5F5;
    font-weight: normal;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.type, .pforms {
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    opacity: 0.5;
    white-space: nowrap;
    color: #F5F5F5;
    font-weight: normal;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}


/* Food */
.ajaxLink {
    visibility: hidden;
    border-bottom: 0 none;
    position: relative;
    width: 205px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}
.main-wrap {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.h1 {
    background: url("https://www.harats.ru/gfx/images/spriteHor.png") 0 -160px repeat-x;
    background: url("https://www.harats.ru/gfx/images/darkBg.png") 0 0 repeat;
    background: rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-family: 'PT Sans', Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 10px 10px 21px;
    border-radius: 5px 5px 0 0;
    zoom: 1;
    -webkit-box-shadow: inset 0 40px 20px -20px rgba(255,255,255,0.2);
    box-shadow: inset 0 40px 20px -20px rgba(255,255,255,0.2);
    max-height: 680px;
}
.darkArea {
    /*background: url('https://www.harats.ru/gfx/images/darkBg.png') 0 0 repeat;*/
    padding: 14px 13px 20px 0;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
}
.barMenu { overflow: hidden; padding-bottom: 10px; }
.barMenuLine { position: relative; overflow: hidden; padding: 0 10px 0 0; }
.barMenuLeft {
    /*position: absolute;
    left: 32px;
    top: 30px;
    width: 220px;*/
    text-align: center;
}
.barMenuLeft span { display: inline-block; }
.barMenuLeft a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.barMenuLeft a u { color: #fff; text-decoration: none; border-bottom: 1px dotted; }
.barMenuContent {
    overflow: hidden;
    height: 570px;
    width: 1140px;
    overflow-y: scroll;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.column-second, .column-lunch {
    float: left;
    width: 280px;
    font-size: 1.8em;
    padding: 14px 10px 0 10px;
    margin: 9px 8% 0 0;
    border-right: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.column-second li, .column-lunch li {
    display: table;
    margin: 0 0 9px;
    background: none;
    padding: 0;
}
.column-second ul li span.img, .column-lunch .img { width: 35px; text-align: center; }
.column-second ul li span.title, .column-lunch .title { line-height: 31px; padding: 0 0 0 16px; width: 195px; }
.column-second ul li span, .column-lunch span { display: table-cell; vertical-align: middle; }
.column-second ul li a, .column-lunch a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted #d9d7d6;
        margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.barMenu__wrap { border-top: 1px solid transparent; display: inline-block; padding-top: 15px; }
.barMenu__wrap .dish-item:not(.dish-alco-item) { background: url("https://www.harats.ru/gfx/images/sep.png") 50% 100% no-repeat; padding-bottom: 25px; margin-bottom: 12px; }
.barMenu__wrap .dish-item { position: relative; }
.barMenuContent .dish-item {
    margin-bottom: 20px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
}
.barMenu .dish-item h3 { font-size: 26px; }
.barMenu .dish-item p { padding-bottom: 8px; }
.barMenu .dish-item .weight { font-style: italic; }
.barMenu .dish-item p { padding-bottom: 8px; word-break: break-word; }
.platformweight { padding-bottom: 8px; word-break: break-word; display: inline-block; }
.price-wrap { display: inline-block; }
.barMenu .dish-item .price { font-weight: 700; font-size: 18px; margin-top: -2px; display: inline-block; }

/* Services */
.services-wrap {
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.post-entry { display: inline-block; width: 100%; overflow: hidden; }
.services-wrapper {
    overflow:hidden;
    overflow-y:scroll;
    height: 690px;
    width: 1000px;
}
.tiled-gallery-item {
    float: left;
    margin: 0;
    position: relative;
    margin: 0 2px;
}
.tiled-gallery-item a {
    background: transparent;
    border: none;
    color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
    overflow: hidden;
}
.sg-title{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    bottom: -90px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
.tiled-gallery-item a:hover .sg-title { bottom: 0; }
.services-more_content { height: 100%; background: rgba(0,0,0,0.7); padding: 15px; }
.services-more_content a { width: 291px;  height: 291px; }
.smore-title { text-align: center; font-size: 30px; }
.smore-text {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 20px;
}
.smore-images { margin-bottom: 30px; }
.smore-images_wrap {
    display: inline-block;
    margin: 2px;
}
.smore-images_item {
    border: none;
    color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
    overflow: hidden;
}
.smore-images_item:hover .sg-title { bottom: 0; }
.smore-blank { width: 93%; }
.smore-order, .smore-form_order {
    margin-top: 30px;
    background: #000000;
    padding: 14px 24px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    border: none;
    text-align:center;
    width: 100%;
    font-size: 20px;
    outline: 1px solid #4C4C4C;
}
.smore-order { width: 93%; }
.smore-form {
    margin-top: 30px;
    width: 460px;
    margin: 0 auto;
    padding: 3px;
}
.smore-form p { margin-bottom: 10px; margin-top: 15px; }
.smore-form_tb {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    outline: 1px solid #fff;
    background: rgba(255,255,255,.00);
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 3px;
}

/* About Us */
.about-wrap {
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.post-entry { display: inline-block; width: 100%; overflow: hidden; }
.services-wrapper {
    overflow:hidden;
    overflow-y:scroll;
    height: 690px;
    width: 1000px;
}
.tiled-gallery-item {
    float: left;
    margin: 0;
    position: relative;
    margin: 0 2px;
}
.tiled-gallery-item a {
    background: transparent;
    border: none;
    color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
    overflow: hidden;
}
.sg-title{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    bottom: -90px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
.tiled-gallery-item a:hover .sg-title { bottom: 0; }
.services-more_content { height: 100%; background: rgba(0,0,0,0.7); padding: 15px; }
.smore-title { text-align: center; font-size: 30px; }
.smore-text {
    margin: 20px 0;
    color: white;
    text-align: center;
    font-size: 20px;
}
.smore-images { margin-bottom: 30px; }
.smore-images_item {
    border: none;
    color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
    overflow: hidden;
}
.smore-images_item:hover .sg-title { bottom: 0; }
.smore-blank { width: 93%; }
.smore-order, .smore-form_order {
    margin-top: 30px;
    background: #000000;
    padding: 14px 24px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    border: none;
    text-align:center;
    width: 100%;
    font-size: 20px;
    outline: 1px solid #4C4C4C;
}
.smore-form { margin-top: 30px; width: 460px; margin: 0 auto; }
.smore-form p { margin-bottom: 10px; margin-top: 15px; }
.smore-form_tb {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    outline: 1px solid #fff;
    background: rgba(255,255,255,.00);
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 3px;
}


/*Gallery*/
.photogallery-wrap {
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.post-entry { display: inline-block; width: 100%; overflow: hidden; }
.photogallery-wrapper {
    overflow:hidden;
    overflow-y:scroll;
    height: 690px;
    width: 1000px;
}
.tiled-gallery-item {
    float: left;
    margin: 0;
    position: relative;
    margin: 0 2px;
}
.tiled-gallery-item a {
    background: transparent;
    border: none;
    color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: auto;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
    overflow: hidden;
}

/* Calendar */
.wrap {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
}
#calendar { max-width: 68%; min-height: 100%; margin: 20px auto; overflow: hidden; }
.calendar-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 0px 5px #C222D5;
}
#calendar-wrap {
    max-height: 600px;
    overflow: hidden;
    overflow-wrap: break-word;
    overflow-y: scroll;
    margin-right: -20px;
}
.event-week, .event-day { display: inline-block; }
.event-day {
    width: 130px;
    height: 150px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 6px;
    overflow: hidden;
    border-top: 8px solid #ff2bb6;
}
.event-day:nth-child(10n+1) { border-top:8px solid #ff2bb6; }
.event-day:nth-child(10n+2) { border-top:8px solid #1700fe; }
.event-day:nth-child(10n+3) { border-top:8px solid #fff001; }
.event-day:nth-child(10n+4) { border-top:8px solid #c104ff; }
.event-day:nth-child(10n+5) { border-top:8px solid #2aff43; }
.event-day:nth-child(10n+6) { border-top:8px solid #ff1200; }
.event-day:nth-child(10n+7) { border-top:8px solid #1700fe; }
.event-day:nth-child(10n+8) { border-top:8px solid #fff102; }
.event-day:nth-child(10n+9) { border-top:8px solid #2bff44; }
.event-day:nth-child(10n+10) { border-top:8px solid #00fff5; }
.ed-wrap {
    position: relative;
    display: block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    width: 129px;
    height: 140px;
    padding-left: 6px;
}
.ed-month, .ed-title, .ed-week { display: inline-block; text-transform: uppercase; }
.ed-month {
    font-style: normal;
    padding-left: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
}
.ed-title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 4px;
    word-break: break-all;
    padding-right: 8px;
}
.ed-week {
    text-align: center;
    display: block;
    margin: 3px 0;
    font-style: normal;
    padding-left: 3px;
    font-size: 14px;
}
.ed-day { text-align: center; margin-top: 12px; }
.ed-imgwrap {
    position: absolute;
    display: block;
    left: 0;
    top: -150px;
    width: 130px;
    height: 140px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ed-image {
    border: none;
    background: transparent;
    margin: 0; padding:0;
}
.ed-wrap:hover .ed-imgwrap {
    top: -2px;
    /*top: 0;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ed-time {
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 20px;
}
.ed-invite {
    font-size: 14px;
    padding: 8px 0;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}

/* Food menu */
#accordion { display: none; }
.food-col {
    float: left;
    width: auto;
    font-size: 1.8em;
    padding: 0 20px 0 0;
    margin: 9px 8% 0 0;
    border-right: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: none;
}
.food-col ul { margin: 0; padding: 0 0 18px 0; }
.food-col li {
    display: table;
    margin: 0 0 9px;
    background: none;
    padding: 0;
}
.img { width: 35px; text-align: center; height: 53px; }
.title { line-height: 31px; padding: 0 0 0 16px; max-width: 200px; }
.food-col span { display: table-cell; vertical-align: middle; }
.food-col a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted #d9d7d6;
    margin: 0;
    padding: 0;
    font-size: 60%;
    vertical-align: baseline;
    background: transparent;
    color: #fff;
}
.dish-item { display: none; max-width: 770px; }
.dish-item img {
    border-radius: 5px;
    display: block;
    margin: 0;
    width: 225px;
    float: left;
    margin-right: 20px;
}
.fmactive { display: block; }
.smactive { display: block; }

/* Contact */
.map_wrap { position: relative; height: 700px; }
#map {
    /*position: absolute;*/
    bottom: 0;
    height: 450px;
    width: 100%;
    /*width: 100%;
    height: 50%;*/
    //margin: 0 auto;
    margin-top: 20px;
}
.secondary { margin-top:10px; }
.list-icon-items {
    display: block;
    padding: 0;
    width: 775px;
    margin: 0 auto;
    padding-top: 30px;#
}
.list-icon-items li { display: inline-block; float: none; text-align: center; }
.list-icon-items a {
    display: block;
    border: none;
    width: 190px;
    text-decoration: none;
}
.circ {
    width: 64px;
    height: 64px;
    background-color: #fff;
    display: inline-block;
    border-radius: 1000px;
    text-align: center;
    font-size: 26px;
    word-spacing: 1px;
    line-height: 70px;
    color: #555;
    position: relative;
}
.pulse {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: none;
    border: 1px solid #c5c5c5;
    transition-timing-function: cubic-bezier(0.53,-0.67,0.73,0.74);
    transition-duration: 275ms;
    transition-property: all;
    position: absolute;
}
.list-icon-items a:hover .pulse {
    opacity: 1;
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -moz-transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    -o-transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    -webkit-transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
.center {
    height: 1px;
    width: 60%;
    background-color: #fff;
    margin: 15px auto;
    position: relative;
    border-top: none;
}
.map_wrap h2 { margin: 0 auto; max-width: 150px; color: #fff; }
.adress_wrap {
    right: 0;
    position: absolute;
    bottom: 5%;
    width: 385px;
}
.adress_wrap_mobile { display: none; color: white;  }
.adress_wrap_mobile .adress_title{ color: white!important; padding-bottom: 20px;} 
.adress_mobile { margin: 0; padding: 0;}
.adress_mobile li { margin: 5px 0; text-align: center; }
.adress_wrap div { padding: 0 40px 40px;; }
.adress { list-style: none; }
.adress li { color: #000; }
.adress_title { color: #000 !important; }

/* Instagram Gallery */
.instagallery-wrap, .iw-wrap { position: relative; }
.iw-link_wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 60px;
    z-index: 1;
    margin-top: -30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.iw-link_title { margin-top: -4px; margin-bottom: 4px; font-size: 36px; }
.iw-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 0;
    border: 0;
    list-style: none;
    background: none;
    outline: none;
    vertical-align: top;
    font-size: 0;
}
.iw-list li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    vertical-align: top;
    width: 20%;
    overflow: hidden;
}
.iw-list a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    z-index: 0;
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}
.iw-list a:hover:after { opacity: 0; }
.iw-list a:hover { opacity: 1; }
.iw-list img {
    max-width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    outline: none;
}
.iw-list a:after {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.container{ margin: 0 auto; width: 30%; text-align: center; }
                                                            
/* Footer */
.footer {
    padding: 5px;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #000;
    color: #fff;
    font-weight: bold;
    clear: both;
    z-index: 100;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.f-wrap{ margin: 0 auto; text-align: center; }
.f-wrap p { color: #a3a3a3; }
.f-wrap a {
    color: #fff;
    z-index: 0;
    position: relative;
    padding: 0px 2px;
}
.content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.content > * { flex: 1 100%; }

/* Media */
@media only screen and (min-width: 1460px) {
    #map { height: 500px; }
}
@media only screen and (max-width: 1170px) and (min-width: 942px) {
    .h-wrap { max-width: 940px; }
    .dish-item { max-width:630px; }
}
@media only screen and (max-width: 960px) {
    .h-wrap { max-width: 720px; }
    .mobile-wrap { display:block; }
    .mm-wrap { display: none; }
    .dish-item { max-width:630px; }
    #top-social {
        float: none;
        position: absolute;
        width: 100%;
        text-align: center;
    }
    .mobile-menu { margin: 0; padding: 0; margin-top: -4px; }
    .mobile-menu a {
        display: block;
        text-align: center;
        padding: 12px 0;
        background: rgb(16, 16, 16);
    }
    .barMenuLeft-mobile { display: block; }
    #accordion { display: block; margin-top: 70px; }
    .logo-text { float: none; width: 20%; display: inline-block; }
    #top-social { width: 60%; text-align: center; display: inline-block; }
    .darkArea { padding-top: 0; }
    .barMenuLeft { display:none; }
    .barMenuLeft span { display: block; text-align: center; }
    .barMenu__wrap { display: none; }
    .food-col { display: none!important; }
    .barMenuContent { width: 110%; }
    .services-wrap, .photogallery-wrap { max-width: 720px; padding-left: 0; padding-right: 0; }
    .services-wrapper, .photogallery-wrapper { height: 690px; width: 800px; }
    .tiled-gallery-item a { height: 236px; width: 236px; }
    .smore-order { width: 98%; }
}
@media only screen and (max-width: 780px) {
    .iw-link_title { font-size: 25px; margin-top: 15px; }
    #navigation-wrapper { padding: initial; }
    .menu { display: none; }
    .mobile-wrap { display:block; }
    .mobile-menu { margin: 0; padding: 0; margin-top: -4px; }
    .mobile-menu a {
        display: block;
        text-align: center;
        padding: 12px 0;
        background: rgb(16, 16, 16);
    }
    .logo-text { float: none; width: 20%; display: inline-block; }
    #top-social { width: 60%; text-align: center; display: inline-block; }
    .logo:before { content: none; }
    .logo:hover:before{ content: none; }
    .h-wrap { width: auto; }
    .list-icon-items { width: 575px; }
    .list-icon-items a { width: 140px; }
    .adress_wrap { display: none; }
    .adress_wrap_mobile { display: block; }
    #calendar { max-width: 410px; }
    .owl-container { padding-right: 10px; width: 400px; }
    .owl-container h1 { font-size: 30px; }
    .owl-carousel h1 { font-size: 20px; }
    .main-wrap { height: 680px; }
    .barMenuContent { height: 630px; }
    .h1 { padding: 10px 0px 10px 12px; overflow: hidden; }
    .dish-item { max-width: 60%%; }
    .dish-item img { width: 200px; }
    .services-wrap, .photogallery-wrap { max-width: 540px; padding-left: 0; padding-right: 0; }
    .services-wrapper, .photogallery-wrapper { height: 690px; width: 600px; }
    .tiled-gallery-item a { height: 176px; width: 176px; }
    .sg-title { font-size: 18px; bottom: 0; }
    .services-more_content a { width:  500px; height: 500px; }
}
@media only screen and (max-width: 640px) {
    .iw-list li { width: 50%; }
    .iw-link_title { font-size: 36px; margin-top: -4px; }
    .main { max-width: 205px; }
    .list-icon-items { width: 257px; padding-top: initial; }
    .list-icon-items a { width: 125px; }
    .circ { width: 44px; height: 44px; line-height: 50px; font-size: 18px; }
    .adress_wrap { display: none; }
    .adress_wrap_mobile { display: block; }
    #map { height: 300px; }
    #calendar { max-width: 280px; }
    .owl-container h1 { font-size: 30px; }
    .owl-container { width: 280px; padding-left: 5px; padding-right: 5px;}
    .main-wrap { padding-left: 10px; padding-right: 10px; }
    .dish-item { width: 90%; }
    .services-wrap, .photogallery-wrap { max-width: 480px; padding-left: 0; padding-right: 0; }
    .services-wrapper, .photogallery-wrapper { height: 690px; width: 500px; }
    .tiled-gallery-item a { height: 156px; width: 156px; }
    .sg-title { font-size: 14px; }
    .services-more_content a { width: 445px; height: 445px; }
    .smore-form { width: 450px; }
}
 @media only screen and (max-width: 580px) {
    .h-wrap { max-width: 300px; }
    .mobile-nav { padding: 4px 3px; }
    .mobile-menu-btn { width: 23px; top: 15px;  }
    .mobile-menu-btn i { right: 30px; font-size: 20px; }
    .fm-mobile { padding: 3px 6px 0 6px; }
    .barMenuLeft { margin-top: 15px; }
    .barMenuLeft-mobile { width: 30px; top: 15px; }
    .barMenuLeft-mobile i { font-size: 20px; }
    .logo-text { display: none; }
    #top-social { width: 80%; position: relative; }
    .barMenuContent { width: 115%; }
    .services-wrap, .photogallery-wrap { max-width: 290px; padding-left: 5px; padding-right: 5px; }
    .services-wrapper, .photogallery-wrapper { height: 690px; width: 320px; }
    .tiled-gallery-item a { height: 90px; width: 90px; }
    .sg-title { font-size: 11px; word-break: break-word; }
    .services-more_content a { width: 245px; height: 245px; }
    .smore-form { width: 240px; }
}
